body { background-color: #0000ff; 
 }
h1 { text-align: center;
font-size: 30px; 
color:  rgb(100, 50, 100);}

#banner { width: 100%;}

p { text-align: justify;
font-size: 20px;
color: rgb(255, 255, 255);}
#missao { font-size:20px}
strong { color: rgb(0, 0, 0); }

.itens { font-style: italic; }

